*{
    margin: 0;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

.banner{
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: url('../images/banner/banner2.png');
    padding: 250px 200px;
}
.banner-title{ 
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    text-align: right;
}
.banner-sub-title{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    text-align: right;
}
.btn{
    font-weight: 600;
    font-size: 20px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    color: azure;
    padding: 22px;
    max-width: fit-content;
    justify-self: end;
}

.bnr{
    display: grid;
    gap: 22px;
}

.sctn{
    display: flex;
}

.img-1{

}

.text{
    margin-top: 360px;
    margin-right: 90px;
    /* justify-items: end; */
}
.text-1{
    font-weight: 700px;
    font-size: 40px;
}

.text-2{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
}
.li-1{
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.my-plan{

}

.my-plan-title{
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-top: 200px;
}

.my-plan-list{
display: flex;
gap: 120px;
margin: 80px 230px;
align-items: center;
}

.plan{
}
.plan-title{
    font-weight: 500;
    font-size: 20px;
    color: #151414;
}

.plan-description{
    color: #737272;
    font-weight: 200;
    font-size: 15px;
    gap: 30px;
}

.blend-title{
    font-weight: 700;
    font-size: 40px;
}

.btn-2{
    font-weight: 400;
    font-size: 25px;
    color: azure;
    border-radius: 5px;
    border: none;
    background: #F15B22;
    padding: 22px;
}

.blending-image-with-gradiant{
    margin: 60px 130px;
    background-image: url("/images/watch.png");
    background-repeat: no-repeat;
}

.footer-style{
    padding: 100px 0px 300px 200px;
    background-color: #151414;
}

.right-side-text{

}

.left-side-box{

}

.footer-title{
font-weight: 700;
font-size: 45px;
color: #FFFFFF;
}

.footer-description{
    color: aliceblue;
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;
}