*{
    margin: 0;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

.banner{
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: url('../images/banner/banner2.png');
    padding: 250px 200px;
}
.banner-title{ 
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    text-align: right;
}
.banner-sub-title{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    text-align: right;
}
.btn{
    font-weight: 600;
    font-size: 20px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    color: azure;
    padding: 22px;
    max-width: fit-content;
    justify-self: end;
}

.bnr{
    display: grid;
    gap: 22px;
}

.sctn{
    display: flex;
}

.img-1{

}

.text{
    margin-top: 360px;
    margin-right: 90px;
    /* justify-items: end; */
}
.text-1{
    font-weight: 700px;
    font-size: 40px;
}

.text-2{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
}
.li-1{
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.my-plan{
display: block;
text-align: center;
font-weight: 700;
font-size: 35px;
}

.my-plan-title{

}

.my-plan-list{
display: flex;
gap: 180px;
margin: 130px 230px;
}

.plan{

}
.plan-title{

}

.plan-description{

}